<h1 id="kedap-rep0sitory"><strong>k</strong>edap <strong>rep0</strong>sitory</h1>
<p>Para agregar krep0 a tu lista de repositorios para archlinux solo falta modificar tu archivo <code>/etc/pacman.conf</code></p>
<pre><code>[krep0]
SigLevel = Optional TrustAll
Server = https://$repo.bitbucket.io/archlinux/$arch
Server = http://164.90.155.18/rpository/archlinux</code></pre>
<p>y acto seguido deberas de actualizar tu sistema conjunto a los repositorios <code># pacman -Syu</code></p>
